<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/static/estilos/fonts.css">
    <link rel="stylesheet" href="/static/estilos/general.css">
    <link rel="stylesheet" href="/static/estilos/header.css">
    <link rel="stylesheet" href="/static/estilos/sections.css">
    <link rel="stylesheet" href="/static/estilos/components.css">
    <link rel="stylesheet" href="/static/estilos/responsive.css">
    <link rel="icon" type="image/png" href="/static/img/icone01.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Página</title>
</head>

<body id="body">
    <div id="overlay"></div>

    <aside id="header">
        <section id="profile">
            <img src="/static/img/FotoDePerfil.png" alt="FotoDePerfil">
            <h1>Emanuel Carlos</h1>
            <ul class="social">
                <li>
                    <a href="#" target="_blank"><i class="bi bi-github"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="bi bi-linkedin"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="bi bi-envelope-at"></i></a>
                </li>
                <li>
                    <a href="#" target="_blank"><i class="bi bi-instagram"></i></a>
                </li>
            </ul>
        </section>
        <section>
            <nav id="navBar" class="navMenu">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#"><i class="bi bi-house-door-fill"></i>
                            Início</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#sobre"><i class="bi bi-person-fill"></i> Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#habilidades"><i class="bi bi-card-checklist"></i> Habilidades</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark-check-fill"></i>
                            Currículo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#portifolio"><i class="bi bi-collection-fill"></i> Portifolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato"><i class="bi bi-envelope-fill"></i> Contato</a>
                    </li>
                </ul>
            </nav>
        </section>
    </aside>

    <main id="main">
        <i class="bi bi-list menu-mobile"></i>

        <section id="inicio" class="col-md-5 m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center aling-itens-center flex-column meu-nome">
                <h2 class="text-white text-shadow">
                    Emanuel Carlos

                </h2>
                <span id="subtitle" class="text-white text-shadow">Técnico, programador e estudante</span>
            </div>
            <div id="arraste" class="col-md-7 d-flex justify-content-end align-items-end position-relative">
                <a href="#sobre" class="position-absolute bottom-0 end-0 mb-3 me-3 text-white"><i
                        class="bi bi-arrow-down"></i>arraste para mais</a>
            </div>
        </section>

        <section class="container  mt-5  " id="sobre">
            <div class="row w-100">
                <div class="col-md-12">

                    <h2 class="pt-3 ">Sobre</h2>

                    <p>Sou João Emanuel, um jovem entusiasta da tecnologia com sede de conhecimento e espírito curioso.
                        Desde cedo me fascino por tudo o que envolve inovação — da programação à cibersegurança,
                        passando por hardware, redes e novas tendências como inteligência artificial. Gosto de entender
                        como as coisas funcionam e, mais ainda, como posso contribuir para torná-las melhores.
                        Minha jornada é movida pela vontade de aprender, experimentar e transformar ideias em soluções.
                        Tenho compromisso com o crescimento constante e acredito que o mundo da tecnologia é um espaço
                        onde posso deixar minha marca, seja em projetos colaborativos ou desbravando caminhos próprios.
                        Estou em busca de oportunidades que me permitam aplicar o que sei e, principalmente, aprender
                        com quem está fazendo acontecer. Se você procura alguém com energia, vontade de crescer e olhar
                        atento para o futuro, vamos conversar.
                    </p>

                    <div class="row mt-4" id="lista-sobre">
                        <div class="col-md-4 shadow">
                            <img class="img-fluid" src="/static/img/FotoDePerfil.png" alt="foto do joao">
                        </div>

                        <div class="col-md-8">
                            <h4 class="mb-3">Técnico em Informática e Aluno de Análise e Desenvolvimento </h4>

                            <div class="row" id="lista-sobre-informacoes">
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush ">
                                        <li class="list-group-item">Nascimento: <span
                                                class="fw-lighter">22/01/2007</span></li>
                                        <li class="list-group-item">Cidade: <span class="fw-lighter">Itapipoca</span>
                                        </li>
                                        </li>
                                        <li class="list-group-item">Estado: <span class="fw-lighter">Céara</span></li>

                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <ul class="list-group list-group-flush">
                                        <li class="list-group-item">Hobby: <span class="fw-lighter">Aprender</span></li>
                                        <li class="list-group-item">Principal Projeto: <span class="fw-lighter">Em
                                                breve</span></li>
                                        <li class="list-group-item">Tempo de Experiência: <span class="fw-lighter">+1
                                                ano</span></li>


                                    </ul>
                                </div>
                                <div class="mt-4 mr-3 pb-3" > 
                                    Atualmente, estou mergulhado em uma nova fase da minha jornada — focado em aprender e me
                                aperfeiçoar na área de desenvolvimento para web. Sempre fui fascinado por tecnologia,
                                mas foi ao conhecer as possibilidades da criação de interfaces e aplicações online que
                                descobri um mundo onde criatividade, lógica e impacto real se encontram.
                                Tenho explorado conceitos fundamentais como HTML, CSS e JavaScript, além de começar a
                                entender o papel das ferramentas modernas como frameworks, APIs e responsividade. Cada
                                linha de código que escrevo me aproxima de transformar ideias em experiências digitais
                                acessíveis e funcionais.
                                Mais do que dominar ferramentas, meu objetivo é entender como criar soluções que façam
                                sentido para quem está do outro lado da tela. Estou construindo meu caminho com
                                dedicação, prática constante e muita curiosidade — porque acredito que desenvolver para
                                a web não é apenas sobre tecnologia, é sobre comunicar, conectar e transformar.
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </div>

            </div>

        </section>
        <section id="habilidades" class="mt-5 section-bg">

            <div class="container" id="lista-habilidades">
                <h2 class="pt-3">Habilidades</h2>
                <p>
                    Estou no início da minha trajetória como desenvolvedor, e cada linha de código que escrevo é um
                    passo rumo ao crescimento. Tenho me dedicado a aprender constantemente, explorando novas
                    tecnologias, linguagens e boas práticas que fortalecem minha base técnica. Esta seção reúne as
                    habilidades que venho desenvolvendo com empenho e curiosidade — ferramentas que me ajudam a
                    transformar ideias em soluções.
                </p>
                <div class="row">
                    <div class="col-md-6">
                        <p class="mt-4 mb-0">HTML</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 90%; height: 100%;">
                                90%
                            </div>
                        </div>
                        <p class="mt-4 mb-0">CSS</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 70%; height: 100%;">
                                70%
                            </div>
                        </div>
                        <p class="mt-4 mb-0">JavaScript</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 60%; height: 100%;">
                                60%
                            </div>
                        </div>


                    </div>

                    <div class="col-md-6">
                        <p class="mt-4 mb-0">GIT</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 80%; height: 100%;">
                                80%
                            </div>
                        </div>
                        <p class="mt-4 mb-0">FLASK</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-warning" role="progressbar" style="width: 40%; height: 100%;">
                                40%
                            </div>
                        </div>
                        <p class="mt-4 mb-0">SQL</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 60%; height: 100%;">
                                60%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-4 mb-0">Comprometimento</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 100%;">
                                100%
                            </div>
                        </div>
                        <p class="mt-4 mb-0">Vontade de Aprender</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 100%;">
                                100%
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="mt-4 mb-0">Pensamento Exploratorio</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 100%;">
                                100%
                            </div>
                        </div>
                        <p class="mt-4 mb-0">Adaptação progressiva</p>
                        <div class="progress" style="width: 300px;">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%; height: 100%;">
                                100%
                            </div>
                        </div>

                    </div>

                </div>
                <br>



                <hr>
                <p>Minhas habilidades estão em constante construção.
                    Cada ferramenta que aprendi até agora representa não apenas conhecimento técnico, mas também
                    dedicação, curiosidade e vontade de evoluir. Embora todas ainda estejam em desenvolvimento, venho
                    aprimorando cada uma delas com prática, estudo e aplicação em projetos reais.
                    Acredito que o processo de aprendizado é contínuo — e é justamente essa busca por melhoria que me
                    impulsiona. Seja dominando uma nova linguagem, entendendo boas práticas ou explorando frameworks,
                    meu foco está em crescer de forma consistente e consciente.
                    As habilidades que apresento aqui refletem meu momento atual como desenvolvedor, e cada uma delas
                    está sendo lapidada com empenho e periodicidade.
                </p>
            </div>

        </section>

        <section id="curriculo" class="mt-5 cr">
            <div class="container" id="curriculobg">
                <h2 class="mt-4 ">Currículo</h2>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="cr-title">Educação</h3>
                        <div class="cr-item">
                            <h4>Técnico em Informática</h4>
                            <h5>2022-2024</h5>
                            <p><em>Instituto Federal do Ceará campus Itapipoca </em></p>
                            <p>O Curso Técnico em Informática oferece uma formação abrangente, preparando o estudante
                                para atuar em diversas áreas da tecnologia. Com uma grade curricular que combina teoria
                                e prática, o curso desenvolve habilidades essenciais para o mercado atual, como
                                programação, redes de computadores, banco de dados, manutenção de sistemas e suporte
                                técnico.</p>
                        </div>
                        <div class="cr-item">
                            <h4>Análise e Desenvolvimento de Sistemas</h4>
                            <h5>2025...</h5>
                            <p><em>Instituto Federal do Ceará campus Umirim </em></p>
                            <p>O Curso de Análise e Desenvolvimento de Sistemas é voltado para a formação de
                                profissionais especializados no desenvolvimento de soluções tecnológicas. Com foco na
                                criação, manutenção e melhoria de sistemas computacionais</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h3 class="cr-title">Profissional</h3>
                        <div class="cr-item">
                            <h4>No futuro</h4>
                            <h5>2025</h5>
                            <p><em>Buscando a Primeira Experiência em desenvolvimento para terceiros </em></p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

        <section id="portifolio" class="mt-5">
            <div class="container pt-5 pb-5" id="portifoliobg">
                <h2 class="mt-4">Portifólio</h2>
                <div id="carouselPortifolio" class="carousel carousel-dark slide">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="0" class="active"
                            aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselPortifolio" data-bs-slide-to="1"
                            aria-label="Slide 2"> </button>

                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/backgroun.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">EM_BREVE</h5>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/backgroun.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">EM_BREVE</h5>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/backgroun.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">logo logo</h5>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/backgroun.png" class="card-img-top" alt="">
                                        <div class="card-body">
                                            <h5 class="card-title">EM_BREVE</h5>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/backgroun.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">EM-BREVE</h5>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="/static/img/backgroun.png" class="card-img-top" alt="...">
                                        <div class="card-body">
                                            <h5 class="card-title">EM_BREVE</h5>
                                            <p class="card-text"></p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselPortifolio"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselPortifolio"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </section>

        <section id="contato" class="mt-5">
            <div class="container" id="contatobg">
                <h2>Contato</h2>
                <div class="row">
                    <div class="col-md-5">
                        <div class="card p-5 shadow border-0">
                            <div class="endereco">
                                <h4><i class="bi bi-geo-alt-fill"></i>Localização:</h4>
                                <p>Itapipoca (CE)</p>
                                
                            </div>
                            
                            <div class="email">
                                <h4><i class="bi bi-envelope-fill"></i>E-mail</h4>
                                <p>joaoemanuelcarloslima2201@gmail.com</p>
                            </div>
                            <iframe 
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.3941052935907!2d-39.597615200000014!3d-3.495857399999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7c048efa20f483d%3A0xb2bbff044aa641e9!2sR.%20Mo%C3%A9sio%20Loiola%20-%20Itapipoca%2C%20CE!5e0!3m2!1spt-BR!2sbr!4v1754779101736!5m2!1spt-BR!2sbr"
                                width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>

                    </div>
                    <div class="col-md-7">
                        <div class="card p-5 shadow border-0">
                            <form>
                                <h4>Entre em Contato</h4>
                                <div class="mb-3">
                                    <label for="nome" class="form-label">Nome</label>
                                    <input type="text" class="form-control" id="nome" placeholder="Seu nome">
                                </div>
                                <div class="mb-3">
                                    <label for="email" class="form-label">E-mail</label>
                                    <input type="email" class="form-control" id="email"
                                        placeholder="Seu e-mail">
                                </div>
                                <div class="mb-3">
                                    <label for="mensagem" class="form-label">Mensagem</label>
                                    <textarea class="form-control" id="mensagem" rows="4"
                                        placeholder="Sua mensagem"></textarea>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar</button>
                            </form>

                        </div>

                    </div>
                </div>

            </div>
        </section>

    </main>
    <script src="/static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"> </script>
</body>

</html>